@import url(css/normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./css/fontello.css);
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css); */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Spoqa Han Sans';
  font-size: 1.4rem;
  font-weight: 300;
  color: #181818;
  background: url(./css/images/bg_flower.png) no-repeat 50% 0 scroll,
    linear-gradient(to bottom, #ccc 0%, #fff 70%, #fff 100%), #fff;
}

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  background-color: #f00;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* clearfix */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 레이아웃 */

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
}

/* header */
.header {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px 0 30px;
}

/* logo */
.logo {
  position: absolute;
  top: 30px;
  left: 60px;
}

/* 멤버링크 */
.member {
  list-style: none;
  margin-top: 8px;
  margin-right: -8px;
  margin-bottom: 8px;
  padding-left: 0;
  font-size: 0;
  text-align: right;
  /* background-color: #ff0; */
}

.member li,
.member a {
  display: inline-block;
}

.member li {
  font-size: 1.4rem;
}

/* 
.member [aria-hidden] {
  margin: 0 5px;
} */

.member a {
  text-transform: uppercase;
  /* background-color: #fcf; */
  padding: 2px 8px 2px 3px;
}

/* 메인메뉴 */
.menu {
  background: #db5629 linear-gradient(to bottom, #ef962f 0%, #db5629 35%, #db5629 70%, #ef962f 100%);
  list-style: none;
  margin: 0 0 35px;
  padding-left: 225px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 50px;
}

.menu::after {
  content: '';
  display: block;
  clear: both;
}

.menu-item {
  float: left;
  position: relative;
  /* background-color: blue; */
}

.btn-menu {
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  border: 0;
  border-left: 2px solid rgba(255, 255, 255, 0.85);
  padding: 0 20px;
  line-height: 48px;
  cursor: pointer;
  text-shadow: 1px 0px 0px #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
}

.menu-act .btn-menu {
  color: #ff0;
}

.menu-act .btn-menu::after {
  content: '';
  display: block;
  background-color: #000;
  height: 2px;
}

.sub-menu {
  /* background-color: pink; */
  position: absolute;
  margin: 0;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
  /* white-space : nowrap = 강제 줄바꿈 금지 */
}

.sub-menu li,
.sub-menu a {
  display: inline-block;
}

.sub-menu a {
  /* background-color: yellow; */
  padding: 8px 0;
  margin-left: 1em;
}

.sub-menu a::before {
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: '\e800';
}

.sub-menu1,
.sub-menu2,
.sub-menu3 {
  left: 0;
}

.sub-menu4,
.sub-menu5,
.sub-menu6 {
  right: 0;
}

.sub-menu1 {
  display: block;
}

.sub-menu2 {
  display: none;
}

.sub-menu3 {
  display: none;
}

.sub-menu4 {
  display: none;
}

.sub-menu5 {
  display: none;
}

.sub-menu6 {
  display: none;
  text-align: center;
}

/* 비주얼 */
@keyframes textAni {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    /* padding-top: 0; */
    /* padding-left: 0; */
    transform: translate(0, 0);
  }

  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    /* padding-top: 70px; */
    /* padding-left: 400px; */
    transform: translate(400px, 75px);
    /* transform: translate(50%, 100%); 자기자신의 크기를 기반으로 움직인다.*/
  }
}

@keyframes bgAni {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before,
.visual::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  animation: bgAni 2000ms ease-in-out infinite alternate;
}

.visual::before {
  background-image: url(./css/images/ani_flower_01.png), url(./css/images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}

.visual::after {
  background-image: url(./css/images/ani_flower_03.png), url(./css/images/ani_flower_04.png);
  background-position: 300px 0, 800px 20px;
  animation-delay: 1000ms;
}

.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.4rem;
  width: 500px;
  animation: textAni 5000ms ease-in-out forwards;
}

/* 메인 콘텐츠 */
.main {
  background-color: blue;
  min-height: 450px;
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.group1 {
  background-color: pink;
  width: 250px;
}

.group2 {
  background-color: lightgreen;
  width: 380px;
}

.group3 {
  background-color: coral;
  width: 190px;
}

/* 로그인 */
.login {
  background-color: #db5629;
  padding: 10px;
  background-image: radial-gradient(circle at right top, #ef962f, #db5629);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
}

.login-heading {
  /* background-color: blue; */
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 1em;
  color: yellow;
  font-size: 1.5rem;
  font-weight: bold;
  /* em은 글자크기를 상속 받기 떄문에 1em을주면 자연스럽게 사용할수있다. */
}

.login-form {
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  padding: 10px 10px 0;
}
.login-form fieldset {
  position: relative;
  border: 0;
  border-bottom: 1px solid #aaa;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.login-form input {
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 0.5em;
}

.login-form div {
  width: 150px;
  margin-bottom: 5px;
  /* background: yellow; */
}

.login-form label {
  /* background-color: lime; */
  display: inline-block;
  width: 55px;
}

.btn-login {
  width: 50px;
  height: 52px;
  border-radius: 3px;
  border: 0;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  background: #db5629;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  right: 0;
}

.member-only {
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  list-style: none;
}

.member-only li:first-child {
  float: left;
}

.member-only li:last-child {
  float: right;
}

.member-only a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.member-only a::before {
  content: '\e803';
  font-family: 'fontello';
  display: inline-block;
  margin-right: 0.2em;
  color: #db5629;
}

/* 슬로건 */
.slogan {
  background-color: orange;
}

.footer-bg {
  width: 100%;
  background-color: purple;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.footer {
  background-color: skyblue;
}
