@import url(css/normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Spoqa Han Sans';
  font-size: 1.4rem;
  font-weight: 300;
  color: #181818;
  background-color: #fff;
}

/* 숨김 콘텐츠 */
.a11y-hidden {
  background-color: #f00;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 레이아웃 */

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #ddd;
}

.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
}

/* header */
.header {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px 0 30px;
}

/* logo */
.logo {
  position: absolute;
  top: 30px;
  left: 60px;
}

/* 멤버링크 */
.member {
  list-style: none;
  margin-top: 8px;
  margin-right: -8px;
  margin-bottom: 8px;
  padding-left: 0;
  font-size: 0;
  text-align: right;
  /* background-color: #ff0; */
}

.member li,
.member a {
  display: inline-block;
}

.member li {
  font-size: 1.4rem;
}

.member [aria-hidden] {
  /* margin: 0 5px; */
}

.member a {
  text-transform: uppercase;
  /* background-color: #fcf; */
  padding: 2px 8px 2px 3px;
}

/* 메인메뉴 */
.menu {
  background: #db5629 linear-gradient(to bottom, #ef962f 0%, #db5629 35%, #db5629 70%, #ef962f 100%);
  padding-left: 0;
  list-style: none;
  margin-bottom: 50px;
  padding-left: 225px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
}

.menu::after {
  content: '';
  display: block;
  clear: both;
}

.menu-item {
  float: left;
  /* background-color: blue; */
}

.btn-menu {
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  border: 0;
  border-left: 2px solid rgba(255, 255, 255, 0.85);
  padding: 15px 20px;
  cursor: pointer;
  text-shadow: 1px 0px 0px #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
}

.sub-menu {
  background-color: pink;
  position: absolute;
  display: none;
}

.visual {
  height: 120px;
  background-color: lime;
}

/* 메인 콘텐츠 */
.main {
  background-color: blue;
  min-height: 450px;
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.group1 {
  background-color: pink;
  width: 250px;
}

.group2 {
  background-color: lightgreen;
  width: 380px;
}

.group3 {
  background-color: coral;
  width: 190px;
}

.slogan {
  background-color: orange;
}

.footer-bg {
  width: 100%;
  background-color: purple;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.footer {
  background-color: skyblue;
}